<settings>
    <category label="Settings">
        <setting id="use-account" type="bool" label="Use Account" default="false"/>
        <setting id="hide-successful-login-messages" type="bool" label="Hide Login Messages" default="false" enable="!eq(-1,false)"/>
        <setting id="username" type="text" label="Username" default="none" enable="!eq(-2,false)"/>
        <setting id="password" type="text" label="Password" default="" option="hidden" enable="!eq(-3,false)"/>
        <setting id="auto_download" type="bool" label="Auto Download on Boot" default="false" enable="!eq(-4,false)"/>
        <setting id="timeswitch" type="bool" label="Daily Download (every 24 hours)" default="false" enable="!eq(-5,false)"/>
        <setting id="manual_download" type="action" label="Manual Download" action="XBMC.RunScript(service.takealugepgdownloader, manual_download)" enable="!eq(-6,false)"/>
        <setting id="path" type="folder" label="Download Folder" default="choose"/>
    </category>
    <category label="Choose EPG Source">
        <setting id="choose_epg" type="select" label="File" values="None|Premium DE AT CH 12-14Day|Premium easyEPG 12-14Day|Premium Zattoo DE 12-14Day|Premium Zattoo CH 12-14Day||Free Zattoo DE 3-5Day|Free Zattoo CH 3-5Day|Free DE AT CH 3-5Day|Free easyEPG 3-5Day" default="None"/>
    </category>

</settings>